  :root {
    --main: #4286f4;
  }
  @font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: "main";
  }
  :root {
    --main: #FFFFFF;
    --sub: #ACB0C3;
    --label:#F2F2F2;
    --sub-href: #797D90;
    --primary: #5E8BF6;
    --bg-main: #1C1F2E;
    --bg-sub: #1F2336;
    --shadow-main: 0px 4px 8px rgba(11, 8, 8, 0.17);
    --shadow-sidebar: 0px 8px 16px rgba(11, 8, 8, 0.17);
    --shadow-card: 0px 4px 4px #1D2032;
    --shadow-input: 0px 2px 4px rgba(0, 0, 0, 0.05);
    --shadow-tabs: 0px 2px 4px rgba(0, 0, 0, 0.15);
    --rounded-main: 22px;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "main", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 20px;

  }
    body {
      margin: 0;
      padding: 0;
      background-color: var(--bg-main);
      color: var(--main);
      font-family: "main", sans-serif;
      font-weight: 600;
      a{
        color: var(--sub-href) !important;
        text-decoration: none;
      }
      .text-label{
        color: var(--label);
      }
      .text-muted{
        color: var(--sub);
      }
      .font-17{
        font-size: 17px;
      }
      .font-25{
        font-size: 25px;
      }
      .font-10{
        font-size: 10px;
        font-weight: 400;
      }
      .font-13{
        font-size: 13px;
      }
      .font-16{
        font-size: 16px !important;
      }
      .fw-400{
        font-weight: 400;
        line-height: 20px;
      }
      .font-14{
        font-size: 14px !important;
      }
      .bg-sub{
        background-color: var(--bg-sub);
      }
      .text-primary{
        color: var(--primary) !important;
      }
      .border-primary{
        border-color: var(--primary);
      }
      .padding-card-scan{
        padding: 15px 30px 30px 30px;
      }
      .card-padding-statistics{
        padding: 56px 20px 60px 20px;
      }
      .padding-card-progress{
        padding: 38px 47px 38px 47px;
      }
      .shadow-card{
        box-shadow: var(--shadow-card);
      }
      .shadow-input{
        box-shadow: var(--shadow-input);
      }
      .bg-button{
        background-image: linear-gradient(to right,#5A29D6 , #3859EE);
      }
      .bg-main{
        background-color: var(--bg-main);
      }
      .rounded-8{
        border-radius: 8px !important;
      }
      .btn:hover{
        color: var(--label);
      }
      .border-muted{
        border-color: rgba(121, 125, 144, 0.1) !important;
      }
      header{
        background-color: var(--bg-main) ;
        box-shadow: var(--shadow-main);
        padding: 15px 0 !important;
      }
      select{
        background-color: var(--bg-sub) !important;
        width: 112px !important;
        border: 0 !important;
        font-size: 13px !important;
        display: inline-block !important;
        color: var(--sub) !important;
        font-family: "main",sans-serif !important;
        padding: 10px 40px 10px 15px !important;
        border-radius: 6px !important;
        option:checked{
          color: var(--sub);
        }

      }
      .form-select:focus {
        border: 1px solid transparent !important;
        box-shadow: 0 0 0 !important;
      }
      main{
        .width-94{
          width: 75px;
          background-color: var(--bg-main) ;
          box-shadow: var(--shadow-sidebar);
          min-height: calc(100vh - 81px);
        }
        .padding-input{
          padding: 11px 15px;
        }
        .padding-button{
          padding: 11px 60px;
        }
        .padding-button-cancel{
          padding: 11px 45px;
        }
        .pt-80{
          padding-top: 80px;
        }
        .pt-50{
          padding-top: 50px !important;
        }
        .pb-50{
          padding-bottom: 50px;
        }
        .mb-30{
          margin-bottom: 30px;
        }
        .width-calc{
          background-color: var(--bg-main) ;
          box-shadow: var(--shadow-main);
          width: calc(100% - 75px);
          min-height: calc(100vh - 81px);
          margin-top: 5px;
          margin-left: 5px;
          .card-padding{
            background-color: var(--bg-sub);
            padding: 44px 26px 122px 26px;
          }
          .rounded-card{
            border-radius: var(--rounded-main);
          }
          .rounded-top-4{
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }
          .first-card{
            background-image:url("../images/bg-assets.svg") ;
            background-position: bottom;
            background-size: 100%;
            background-repeat: no-repeat;
          }
          .second-card{
            background-image:url("../images/bg-devices.svg") ;
            background-position: bottom;
            background-size: 100%;
            background-repeat: no-repeat;
          }
          .third-card{
            background-image:url("../images/bg-threats.svg") ;
            background-position: bottom;
            background-size: 100%;
            background-repeat: no-repeat;
          }
          .rounded-card-scan{
            border-radius: 12px;
          }
          .width-70{
            width: 70px;
          }
          .height-70{
            height: 70px;
          }
          .height-100{
            height: 100px;
          }
          .max-w-75{
            max-width: 75%;
          }
          .max-w-100{
            max-width: 100%;
          }
          .w-80{
            width: 80%;
          }
          .width-85{
            width: 85px;
          }
          .w-35{
            width: 35%;
          }
          .height-85{
            height: 85px;
          }
          .w-20{
            width: 20%;
          }
          .w-15{
            width: 15%;
          }

          .progress{
            height: 5px;
          }
          .rounded-right-3{
            border-bottom-right-radius:2px ;
            border-top-right-radius:2px ;
          }
          .progress{
            background-color: #2D3143;
          }
          .bg-sub-progress{
            background-color: #242738;
          }
          .bg-success{
            background-color: #0DA036 !important;
          }
          .bg-warning{
            background-color: #FFD56B;
          }
          .bg-danger{
            background-color: #F94F38 !important;
          }
          .bg-very-danger{
            background-color: #FF0000;
          }
          .bg-danger-progress-circle{
            background-color: #DE2647 !important;
          }
          .border-transparent{
            border: 1px solid transparent;
          }
          .form-control:visited{
            outline: none !important;
          }
          .form-control:focus{
            background-color: var(--bg-sub);
            box-shadow: var(--shadow-input);
            color: var(--label);
            font-size: 14px;
            border: 1px solid transparent !important;
          }
          .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
            color: var(--label);
            background-color: var(--bg-main);
            border: 1px solid transparent !important;
          }
          .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
            color: var(--label);
            border: 1px solid transparent !important;
          }
          .nav-tabs .nav-item .nav-link{
            padding: 16px 60px;
            margin: 0 !important;
          }


        }

      }
      @media(max-width: 768px){
        .w-20{
          width: 33% !important;
        }
        .w-15{
          width: 20% !important;
        }
      }

  }

